.header {
  display: flex;
  padding: 0 0 40px;
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

.header__logo {
  position: relative;
  margin: 0;
  padding: 0;
  height: 33px;
  max-width: 173px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-left: 23px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 23px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: 23px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-left: 23px;
  }
}
