@media screen and (max-width: 320px) {
  .header {
    width: 100%;
  }
  .header__logo {
    margin-left: 27px;
    width: 126px;
    height: 24px;
  }
}

.header {
  display: flex;
  padding: 45px 0 0;
  height: 74px;
  border-bottom: 1px solid grey;
}

.header__logo {
  position: relative;
  margin: 0;
  padding: 0;
  height: 33px;
  width: 173px;
}
