@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  color: #000;
  padding: 0 19px;
  display: none;
}

.modal_open {
  display: flex;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.modal__container {
  background-color: white;
  margin: 195px auto;
  padding: 35px;
  border-radius: 10px;
  max-width: 430px;
  height: 330px;
  position: relative;
}

.modal__preview-container {
  margin: 90px auto;
  max-width: 66.613%;
  max-height: 540px;
  position: relative;
}

.large-image {
  max-width: 100%;
  max-height: 540px;
  position: relative;
}

.large-text {
  color: #ffffff;
  width: 291px;
  height: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.52px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__close {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-color: transparent;
  background-image: url(../images/Close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  cursor: pointer;
  background-image: url(../images/Close-Icon-hover.svg);
}

.modal__heading {
  width: 330px;
  height: 23px;
  margin: 0;
  padding: 0 0 54px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29.05px;
}

.modal__form {
  margin: 0;
  max-width: 358px;
}

.modal__input {
  width: 100%;
  padding-bottom: 13.34px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
}

.modal__input:last-of-type {
  margin-top: 29.74px;
}

.modal__button {
  margin-top: 48px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 50.15px;
  border: none;
  border-radius: 2px;
  background-image: url(../images/Submit-Button.svg);
}

.modal__button:hover {
  cursor: pointer;
  background-image: url(../images/Submit-Button-hover.svg);
}

@media screen and (max-width: 550px) {
  .modal__container {
    margin-top: 123px;
    max-width: 282px;
    height: 322px;
    padding: 24px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13.62px);
    left: calc(100% - 27px);
  }

  .modal__heading {
    max-width: 238px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__form {
    max-width: 238px;
  }

  .modal__button {
    margin-top: 46px;
    margin-bottom: 0;
    padding: 0;
    width: 95%;
    height: 50px;
  }

  .modal__preview-container {
    margin: 90px auto;
    max-width: 75%;
    max-height: 540px;
    position: relative;
  }

  .large-image {
    max-width: 100%;
    max-height: 540px;
    position: relative;
  }
}

@media screen and (max-width: 330px) {
  .modal {
    padding: 10px;
  }

  .modal__container {
    margin-top: 112.5px;
  }

  .modal__heading {
    width: 238px;
    height: 22px;
    margin: 0;
    padding: 0 0 54px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 21.78px;
  }

  .modal__button {
    font-size: 14px;
  }
}
