.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  margin: 3.75px 24px 3.75px 22.5px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin-left: 3.75px;
  margin-top: 22px;
  margin-bottom: 21px;
  max-width: 415px;
}

.profile__name {
  max-width: 373px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  margin: 7px 0 0;
  max-width: 415px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 15px 0 9px 18px;
  background: transparent url(../images/Edit-Button.svg) center no-repeat;
  border: 1px solid white;
  flex-shrink: 0;
  grid-area: button;
}

.profile__edit-button:hover {
  background: url(../images/Edit-Button-hover.svg) center no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 38.75px 0 38.75px auto;
  background: transparent url(../images/Add-Button.svg) center no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  background: url(../images/Add-Button-hover.svg) center no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .profile__description {
    max-width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .profile__description {
    max-width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .profile__name {
    font-size: 30px;
    line-height: normal;
    margin: 0;
  }

  .profile__edit-button {
    width: 21px;
    height: 21px;
    margin: 4px 15px 0 10px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .profile__name {
    font-size: 22px;
    line-height: normal;
    margin: 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 4px 15px 0 10px;
    padding: 0;
  }

  .profile__description {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .profile__add-button {
    margin: 0;
    max-width: 100%;
  }
}
